[Unit]
Description=Wireguard VPN + Web-based Admin UI
After=network-online.target nss-lookup.target

[Service]
Environment="WG_HOST=" # Substitua pelo seu IP público ou endereço do host
Environment="PASSWORD_HASH=" # Deixe em branco ou adicione um hash para senha
Environment="LANG=pt" # Opções válidas: en, ua, ru, tr, no, pl, fr, de, ca, es, ko, vi, nl, is, pt, chs, cht, it, th, hi, ja, si
Environment="WG_DEFAULT_DNS=1.1.1.1, 1.0.0.1" # Padrão: Cloudflare DNS (1.1.1.1)
Environment="WG_ALLOWED_IPS=0.0.0.0/0,::/0" # Permite todos os IPs por padrão, modifique conforme necessário
Environment="WG_DEVICE=eth0" # Modifique para o dispositivo correto caso necessário. Veja a lista de interfaces disponíveis no servidor
Environment="PORT=51821" # Porta TCP para o Web UI
Environment="WG_PORT=51820" # Porta UDP do WireGuard
Environment="WG_MTU=1420" # MTU padrão sugerido para os clientes
#Environment="WG_DEFAULT_ADDRESS=10.0.8.x" # Faixa de IP dos clientes
#Environment="WG_PERSISTENT_KEEPALIVE=25" # Intervalo para manter a conexão aberta

Type=simple
RemainAfterExit=no
ExecStart=/usr/bin/env node /app/server.js
Restart=on-failure
RestartSec=1

[Install]
WantedBy=multi-user.target